
/*body {
   
   height: 571px;
   width: 630px;
   background: -webkit-linear-gradient(#EEF4F9 , white);
  
	}

.cajas_div1{
border-radius:20px 0px 20px 0px;
background:#EEF4F9; 
position: absolute;
top:28%;
left:30%;	
width:250px;
margin-left:-200px;
height:200px;
margin-top:-80px;
border:0px solid #808080;
padding:5px;
}
.cajas_div2{
border-radius:20px 20px 20px 20px;
background:#EEF4F9; 
position: absolute;
top:28%;
left:60%;	
width:250px;
margin-left:-200px;
height:200px;
margin-top:-80px;
border:0px solid #808080;
padding:5px;
}
.cajas_div3{
border-radius:0px 20px 0px 20px;
background:#EEF4F9; 
position: absolute;
top:28%;
left:90%;	
width:200px;
margin-left:-200px;
height:230px;
margin-top:-80px;
border:0px solid #808080;
padding:5px;
}*/
/*p {
padding:0px;
margin:10px;
color:green;
font-family: "arial";
font-size:24px;
font-style:inherit;
}*/

h1 {
padding:0px;
margin:10px;
color:orange;
font-family: "arial";
font-size:24px;
font-style:inherit;
}
