/* CSS Document */


body {background: #FFFFFF}

.registro{
float:left;
background: #333333;
width:450px;
height:450px;
margin:0px 0%;
padding:20px;
}
.tabla{
width:130px;
background:#0099CC;
border:3px ridge #819FF7 ;
border-radius:12px 12px 12px 12px;
}
td{
color:#CCCCCC;
}
p{
margin:0px;
color: #FFFFFF;
font-family: "Times New Roman", Times, serif;
font-size:16px;
}
h1{
margin:30px;
font-size:24px;
color:#0099CC;
}
